/* -----------------------Users box------------------------------------ */
.users_title,.appeal_title,.local_title,.internetional_title,.money_title,.restrictions_title {
    color: #5F6576;
    font-weight: bold;
    margin: 0px;
    padding-left: 20px;
}

.Dashboard_box {
    position: relative;
    margin: 15px 25px;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
}

.two-column-grid{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.users_main,.users_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.users_box {
    gap: 10px;
}
.users_minibox {
    border-radius: 10px;
    padding: 20px;
    background-color: #F8F8FB;
}
.users_minibox:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: box-shadow 0.8s ease-in-out;
}

.dashboard_users,.dashboard_appeal {
    padding: 20px;
}

.users_main_title,.appeal_main_title {
    margin: 0px;
    color: #5F6576;
    font-size: 16px;
    font-weight: normal;
}

.users_text,.appeal_text {
    font-weight: 700;
    color: #5F6576;
    font-size: 24px;
}

.users_span,.appeal_span {
    color: #5F6576;
}

.users_diagramma {
    padding-top: 20px;
}

.diagramm {
    display: block;
    margin: 0 auto
}
.Users_to{
    position: relative;
    display: block;
    width: 100px;
    margin-left: auto;
    text-decoration: none;
    color: #5F6576;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #F8F8FB;

}
.Users_to::before{
    position: absolute;
    content: url("../../assets//img//HeaderIcons//arrow.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
}
.Users_to:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: box-shadow 0.8s ease-in-out;
}
/* -------------------------------appeal box---------------------------------- */
.appeal_box,.appeal_box2,.appeal_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}
.appeal_minibox {
    min-width: 245px;
    border-radius: 10px;
    padding: 20px;
    background-color: #F8F8FB;
}
.appeal_minibox:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: box-shadow 0.8s ease-in-out;
}
/*-------------------------------Local box-------------------------- */
.roadTable_body{
    background-color: #FFA500;
}