.apexcharts-menu-icon,.apexcharts-zoom-icon{
    display: none;
}
.international_main{
    position: relative;
    margin: 15px 25px;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
}   