.site-header {
    /* position: sticky; */
    display: block;
    /* min-width: 1340px; */
    background-color: #fff;
}


.Uty_logo {
    margin-left: 50px;
}

.header_navbar_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header_navbar_search {
    background-color: #F3F3F9;
    border-radius: 20px;
    padding: 5px 15px;
    width: 219px;
}

.header_navigation:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(218, 210, 210, 0.05) 0px 5px 10px;
}

.header_navbar_item {
    margin-left: 40px;
}

.header_input {
    border: transparent;
    outline: none;
    color: #5F6576;
    font-size: 14px;
    background-color: transparent;
    padding-left: 10px;
    width: 165px;
}

.header_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and(max-width:1190px) {

    .site-header {
        width: 1100px;
    }
}

.dropdown-toggle {
    margin-left: 30px;
    font-size: 14px;
    color: #5F6576;
    border: none;
    background-color: transparent;
    opacity: 1;
}

.dropdown-item_strong {
    color: #5F6576;
    font-size: 14px;
}

.dropdown_link {
    text-decoration: none;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 20px;
    width: 160px;
    font-size: 12px;
    outline: none;
    color: #5F6576;
    background-color: transparent;
    background-color: #F8F8FB;
}

.dropdown_item {
    list-style-type: none;
    text-align: center;

}
.dropdown_link:hover{
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px; 
     transition: box-shadow 0.8s ease-in-out;
}

.dropdown-menu {
    padding: 0px;
    width: 962px;
    height: auto;
    background-color: #fff;
    border: 2px solid #F8F8FB;
}

.dropdown-item_strong {
    text-decoration: none;
    color: #5F6576;
    padding: 0px;
    margin: 0px;
}

.dropdown_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* Header Navbar o'ng tomon kodi */

.header_navbar_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}

.important_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.important_button {
    cursor: pointer;
    border: none;
}

.important_list {
    z-index: 10;
    border-radius: 10px;
    padding: 20px;
    background-color: #F8F8FB;
    margin: 0px;
    list-style-type: none;
    text-align: center;
}
.important_list:hover{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: box-shadow 0.8s ease-in-out;
}

.dropdownadmin_list {
    width: 250px;
}

/* Admin panel */
.admin_button {
    padding: 10px;
    border: none;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.admin_name_span {
    color: #5F6576;
}
.admin_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}
.logout_button{
    border: none;

}
.logout_button:hover{
    background-color: #F8F8FB;
}
.link_edit,.link_view,.link_setting{
    position: relative;
    font-weight: 400;
    color: #5F6576;
    padding:15px 0px 15px 50px;

}
.link_edit::before,.link_view::before,.link_setting::before{
    position: absolute;
    left: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.link_edit::before{
content:url("../../assets/img/HeaderIcons/edit_icon.svg");
}
.link_view::before{
    content: url("../../assets/img/HeaderIcons/admin.svg");
}
.link_setting::before{
    content:url("../../assets/img/HeaderIcons/setting_link.svg")
}
hr{
    margin: 0px;
}
.adminItem_link:hover{
    background-color: #000000 !important;
}