.header{
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0 15px 10px 0 rgb(0 0 0 / 20%);
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_title{
    margin: 0;
    padding:0px;
}
.darkmode{
    display: flex;
    align-items: center;
}
.button{
    border: none;
    background: none;
    padding: 10px 0px;
}

.darkmodeimg{
    margin-right: 10px;
}