.form{
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control{
    width: 300px;
    padding: 8px 5px;
    border: 1px solid black ;
    border-radius: 5px;
}
.select{
    width: 300px;
    padding: 8px 0px;
    border: 1px solid black ;
    border-radius: 5px;
}