.rs-modal-container {
    position: relative;
    margin-right: 20px;
}

.modal_button {
    background-color: transparent;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.rs-modal-button:hover {
    background-color: #3367d6;
}

.rs-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.rs-modal-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 295px;
    height: 100vh;
    background-color: white;
    z-index: 1001;
    padding: 20px;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    animation: slideInFromRight 0.5s ease-out forwards;
    overflow-y: auto;
}

.rs-modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
}

.rs-modal-close:hover {
    color: #333;
}

.rs-modal-body {
    padding: 10px 20px 20px;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Closing animation */
.rs-modal-content.closing {
    animation: slideOutToRight 0.3s ease-in forwards;
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@media (max-width: 480px) {
    .rs-modal-content {
        width: 85%;
    }
}

.modal_title {
    font-size: 18px;
    font-weight: 700px;
    color: #5F6576;
}

.modal_header {
    margin-bottom: 25px;
}

/* Modal body qism */
.layout,
.layout_theme,
.sidebar_theme,.topbar_theme {
    padding: 15px 0px;
}

.layout_title,
.layout_theme_title,.topbar_theme_title,
.sidebar_theme_title {
    margin: 0px;
    padding-bottom: 10px;
    color: #5F6576;
    font-size: 16px;
    font-weight: 400;
}

.layout_button {
    font-size: 14px;
    background-color: #3367d6;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    color: #fff;
}
.layout_theme_button,.topbar_theme_button {
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    margin-right: 10px;
}
.topbar_theme_button:focus{
    background-color: #3367d6;
    color: #fff;
}
/* .layout_theme_button:active{
    background-color: #3367d6;
    color: #fff;
} */
.topbar_theme_box {
    display: flex;
    align-items: center;
}

.sidebar_theme_list {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.sidebar_theme_item {
    list-style-type: none;
    margin-right: 5px;
}

.sidebar_theme_label {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.fonts_button {
    margin-bottom: 5px;
    background-color: #F8F8FB;
}

.fonts_button:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: box-shadow 0.8s ease-in-out;
}